@model EnderecoViewModel

@{
    ViewData["Title"] = "Edit";
}
<br />
<h1>Editar endereço</h1>

<hr />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="Logradouro" class="control-label"></label>
                <input asp-for="Logradouro" class="form-control" />
                <span asp-validation-for="Logradouro" class="text-danger"></span>
            </div>            
            <hr />
            <div class="form-group">
                <div class="teste">
                    <input type="submit" value="Salvar" class="btn btn-outline-success" />
                    @Html.ActionLink("Voltar", "Index", new { id = Model.ClienteId  }, new{@class="btn btn-outline-warning"})
                </div>
            </div>
        </form>
    </div>
</div>



